<h2>よくある質問</h2>
<div class="posting_form top_content">
  <table>
    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">サイトへのアクセスに時間がかかります。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">現在はHerokuというアプリプラットフォームの無料サービスを利用していますので、アクセスに時間がかかります。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">写真の登録は必須ですか。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">魚の写真は必須です。その他は必須ではありませんが、釣果を共有するためにできるだけすべての写真の登録をお願いします。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">登録した写真のストレージにアクセスできますか。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">申し訳ありませんが、写真を保管しているストレージに直接アクセスすることはできません。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">位置情報が登録できません。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">位置情報はHTML5に対応しているOS(ブラウザ)でのみ取得できます。iOS11.4.1+Chrome、Android5.02+Chromeにて動作確認しています。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">位置情報はどの程度正確なんでしょうか。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">位置情報はスマホ、取得タイミングなどにより正確さが大きく異なるようです。また、データ蓄積時に数値を小数点以下２桁にまるめていますので、数十メートルの誤差はでます。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">気象情報はどの程度正確なんでしょうか。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">気象情報はOpenWeatherMap APIにて取得しています。少しずれがあるなと感じるときもあります。</td>
    </tr>

    <tr class="comfirm-label">
      <td class="qa-td">Q.</td>
      <td class="qa-td">メモが表示されません。</td>
    </tr>
    <tr>
      <td class="qa-td">A.</td>
      <td class="qa-td">個別釣果マップでは自分のメモのみ表示されます。他のユーザーのメモを見ることはできません。</td>
    </tr>

  </table>
</div>
